In [75]:
### Author : Florian Guillot
### Project : Advent of Code 2021, Day 3
### https://adventofcode.com/2021/day/3
### 03/12/2021
### title : Binary Diagnostic

In [76]:
# Needed module
import pandas as pd

In [168]:
# We read the file
with open('input3.txt') as f:
    lines = f.read().splitlines()
# And create the dataframe
df = pd.DataFrame([[bit for bit in iter(line)] for line in lines],columns=["a","b","c","d","e","f","g","h","i","j","k","l"])
df.head()

   a  b  c  d  e  f  g  h  i  j  k  l
0  1  0  1  1  1  1  1  0  1  0  0  0
1  1  1  0  1  1  0  0  1  1  1  0  0
2  0  1  0  1  1  1  1  1  1  0  0  0
3  0  1  0  1  0  1  0  0  0  0  0  1
4  0  1  1  0  0  0  0  0  0  0  0  1

PART 1

In [169]:
# The gamma rate is th result of the most common bit for each column
gamma_rate = int( ''.join([df[col].mode()[0] for col in df.columns]) ,2)
gamma_rate

284

In [170]:
# The epsilon rate is the result of the least common bit for each column, we use the fact that the opposite bit is abs(bit-1), for example 1 = abs(0-1) and 0 = abs(1-1)
epsilon_rate = int( ''.join([str(abs(int(df[col].mode()[0])-1)) for col in df.columns]) ,2)
epsilon_rate

3811

In [171]:
#Final result is the multiplication of the gamma and epsilon rates
gamma_rate*epsilon_rate

1082324

PART 2

In [172]:
# We find the bit criteria for the oxygen
crit_ox = df.copy()
while len(crit_ox)>1:
    for col in crit_ox.columns:
        if len(crit_ox[col].mode())==2: #Case if the repartition is equal
            crit_ox = crit_ox[crit_ox[col]=="1"]
        else:
            crit_ox = crit_ox[crit_ox[col]==str(crit_ox[col].mode()[0])]
crit_ox = int(''.join(list(crit_ox.values[0])),2)
crit_ox

486

In [173]:
# We find the bit criteria for the CO2
crit_co2 = df.copy()
while len(crit_co2)>1:
    for col in crit_co2.columns:
        if len(crit_co2)==1:
            break
        if len(crit_co2[col].mode())==2: #Case if the repartition is equal
            crit_co2 = crit_co2[crit_co2[col]=="0"]
        else:
            crit_co2 = crit_co2[crit_co2[col]!=str(crit_co2[col].mode()[0])]
crit_co2 = int(''.join(list(crit_co2.values[0])),2)
crit_co2

2784

In [174]:
'''
test cell
-
test = ["00100","11110","10110","10111","10101","01111","00111","11100","10000","11001","00010","01010"]
dftestraw = pd.DataFrame([[bit for bit in iter(line)] for line in test],columns=["a","b","c","d","e"])
dftestraw.head()
'''

'\ntest cell\n-\ntest = ["00100","11110","10110","10111","10101","01111","00111","11100","10000","11001","00010","01010"]\ndftestraw = pd.DataFrame([[bit for bit in iter(line)] for line in test],columns=["a","b","c","d","e"])\ndftestraw.head()\n'

In [175]:
#result
crit_ox*crit_co2

1353024